body{
    background-image: url(Eaterybackground.png);

}

head{
    color: bisque;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    height: 118px;
    text-align: center;
 }

 .right-images {
      position: static;
      right: 20px;
      top: 60px;
      width: 50px;
    }

    .right-images img {
      display: block;
      width: 60px;
      margin-bottom: 15px;
      border-radius: 5px;

    }
   

 h1{
    text-align: center;
    color: bisque;

 }
 
div{
    color: bisque;
}
 
.item-name {
      font-weight: bold;
    }

    .price {
      color: bisque;

    }

    .menu-section {
      max-width: 600px;
      margin: 0 auto;
    }

    .menu-item {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
    }
thead{
    text-align: center;
    color: bisque;
}

tbody{
    text-align: center;
    color: bisque;
}

 a{
      color: bisque;
   }
h2{
  color: rgb(182, 63, 63);
}

nav{
  text-align: center;
  font-size: x-large;
}

.reviews-section {
      max-width: 800px;
      margin: auto;
      padding: 20px;
      float: right;
      position: right;
    }
    .review {
      background-color: rgb(108, 41, 41);
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 20px;
    }
    .review h3 {
      margin: 0;
      font-size: 1.1em;
      color: rgb(229, 215, 215); 
    }
    .stars {
      color: goldenrod; 
      font-size: 1.2em;
    }
    .review p {
      margin-top: 10px;
      font-size: 0.95em;
    }